$wrap-list: wrap nowrap wrap-reverse;

$align-item-list: flex-start flex-end center baseline stretch;

$align-content-list: flex-start flex-end center space-between space-around stretch;

$justify-content-list: flex-start flex-end center space-between space-around;

$padding: 15px;

$grid: 24;